{{ template "header" .}}

<h1>ABOUT</h1>

{{ template "nav-main" }}

<div>
  Iaculis nunc sed augue lacus. Id venenatis a condimentum vitae sapien pellentesque. Viverra nam libero justo laoreet sit amet cursus sit. Vitae purus faucibus ornare suspendisse sed nisi lacus sed.
</div>

{{ template "footer" }}
