{{ template "header" .}}

<h1>CONTACT</h1>

{{ template "nav-main" }}

<div>
  <address>
    <strong>Example Inc.</strong><br>
    1234 Example Street<br>
    Antartica, Example 0987<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
  </address>

  <address>
    <strong>Full Name</strong><br>
    <a href="mailto:#">exam.ple@example.com</a>
  </address>
</div>

{{ template "footer" }}
